# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore all data directories
data/*/raw_data/
data/*/proc_data/
data/*/knowledge/

# Ignore executables and system files
*.exe
*.dll
*.so
*.dylib

# Ignore large files
*.gz
*.pkl
*.h5
*.model
